<ng-container *ngIf="!isLoading">
  <div *ngFor="let post of posts" class="posts-container">
    <h5>
      posted by {{ post.data.author }} on
      {{ post.data.date | date: 'short' }}
    </h5>
    <h2>{{ post.data.title }}</h2>
    <img [src]="post.data.thumbnail" />
    <p>upvotes: {{ post.data.ups }}</p>
  </div>
</ng-container>
<div
  *ngIf="isLoading"
  style="display: flex; justify-content:center; align-items:center;"
>
  <div class="loader"></div>
</div>

<div class="pagination-container">
  <button (click)="getPosts(before)" [disabled]="!before">Back</button>
  <button (click)="getPosts(after)" [disabled]="!after">Next</button>
</div>
